{% extends 'layout/app.html' %}
{% block content %}
    <!-- Preloader -->
    {#    <div class="preloader flex-column justify-content-center align-items-center">#}
    {#        <img class="animation__wobble" src="{{ url_for('static', filename="dist/img/AdminLTELogo.png") }}" alt="AdminLTELogo" height="60" width="60">#}
    {#    </div>#}

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-dark">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="{{ url_for('static', filename="dist/img/AdminLTELogo.png") }}" alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Drone Dashboard
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./index2.html" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Drone Dashboard</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Drone Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v2</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <div class="col-md-8">
                        <!-- MAP & BOX PANE -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">GPS</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="d-md-flex">
                                    <div class="p-1 flex-fill" style="overflow: hidden">
                                        <!-- Map will be created here -->
                                        <div id="freeMap" class="map"></div>
                                    </div>
                                </div><!-- /.d-md-flex -->
                            </div>
                            <!-- /.card-body -->
                        </div>

                        <!-- VIDEO CONTAINER -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">GPS</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="d-md-flex">
                                    <div class="p-1 flex-fill" style="overflow: hidden">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="card-body">
                                                    <table class="table w-100">
                                                        <tbody>
                                                        <tr>
                                                            <th>Connection</th>
                                                            <td class="text-center"><span class="badge bg-danger"
                                                                                          id="socket_connection">Disconnected</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Arm</th>
                                                            <td class="text-center"><span class="badge bg-warning"
                                                                                          id="socket_arm">False</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Is took off</th>
                                                            <td class="text-center"><span class="badge bg-warning"
                                                                                          id="socket_took_off">False</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Ground speed</th>
                                                            <td class="text-center"><span class="badge bg-success"
                                                                                          id="socket_ground_speed">5.00</span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card-body">
                                                    <table class="table w-100">
                                                        <tbody>
                                                        <tr>
                                                            <th>Latitude</th>
                                                            <td class="text-center"><span class="badge bg-primary"
                                                                                          id="latitude">55</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Longitude</th>
                                                            <td class="text-center"><span class="badge bg-primary"
                                                                                          id="longitude">70</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Altitude</th>
                                                            <td class="text-center"><span class="badge bg-primary"
                                                                                          id="altitude">30</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>APP mode</th>
                                                            <td class="text-center"><span class="badge bg-success"
                                                                                          id="app_mode">RTL</span></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.d-md-flex -->
                            </div>
                            <!-- /.card-body -->
                        </div>


                        <!-- TABLE: LATEST ORDERS -->
                        <div class="card">
                            <div class="card-header border-transparent">
                                <h3 class="card-title">Drone servers</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                        <tr>
                                            <th>URL</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><a href="http://127.0.0.1:8000/docs">http://127.0.0.1:8000</a></td>
                                            <td><span class="badge bg-danger" id="connection_status">Disconnected</span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-block btn-outline-success btn-sm"
                                                        id="drone_connect">connect
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="http://127.0.0.1:8000/docs">http://127.0.0.1:8000</a></td>
                                            <td><span class="badge bg-warning">Connecting...</span></td>
                                            <td>
                                                <button type="button" class="btn btn-block btn-outline-success btn-sm">
                                                    connect
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="http://127.0.0.1:8000/docs">http://127.0.0.1:8000</a></td>
                                            <td><span class="badge badge-success">Connected</span></td>
                                            <td>
                                                <button type="button" class="btn btn-block btn-outline-success btn-sm">
                                                    disconnect
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All
                                    Orders</a>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->

                    <div class="col-md-4">
                        <div class="sticky">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Modes</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-footer p-0">
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <button type="submit" id="take_off"
                                                                class="btn btn-primary w-100" disabled>Take Off
                                                        </button>
                                                    </div>
                                                    <div class="col-3">
                                                        <button type="submit" id="rtl_mode"
                                                                class="btn btn-primary w-100" disabled>RTL
                                                        </button>
                                                    </div>
                                                    <div class="col-3">
                                                        <button type="submit" id="gps_go_to_mode"
                                                                class="btn btn-primary w-100" disabled>GPS go to
                                                        </button>
                                                    </div>
                                                    <div class="col-3">
                                                        <button type="submit" id="velocity_mode"
                                                                class="btn btn-primary w-100" disabled>Velocity
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item" id="gps_go_to_controls" {# style="display: none" #}>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <button type="submit" id="gps_set" class="btn btn-primary">GPS
                                                            go to
                                                        </button>
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="text" id="lat_go_to" class="form-control"
                                                               placeholder="lat">
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="text" id="lon_go_to" class="form-control"
                                                               placeholder="lon">
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="text" id="alt_go_to" class="form-control"
                                                               placeholder="alt" value="10">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item col-sm-6">
                                            <div class=>
                                                <input id="range_5" type="text" name="range_6" value="" class="irs-hidden-input" tabindex="-1" readonly="">
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <span class="irs-line" tabindex="0"></span>
                                        </li>
                                        <li class="nav-item">
                                            <span class="irs-line" tabindex="0"></span>
                                        </li>
                                        <li class="nav-item">
                                            <span class="irs-line" tabindex="0"></span>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-pills flex-column" id="velocity_controls" style="display: none">
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                Roll

                                                <div class="row">
                                                    <div class="col-6 mr-0 pr-0">
                                                        <div class="progress decrease border-0">
                                                            <div class="progress-bar progress-success"
                                                                 id="roll-progress-decrease" style="width: 0%"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 ml-0 pl-0 border-0">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-success"
                                                                 id="roll-progress-increase" style="width: 0%"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <span class="float-right text-warning" id="roll">
                                                0%
                                            </span>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                Yaw

                                                <div class="row">
                                                    <div class="col-6 mr-0 pr-0">
                                                        <div class="progress decrease border-0">
                                                            <div class="progress-bar progress-success"
                                                                 id="yaw-progress-decrease" style="width: 0%"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 ml-0 pl-0 border-0">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-success"
                                                                 id="yaw-progress-increase" style="width: 0%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="float-right text-warning" id="yaw">
                                                0%
                                            </span>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                Pinch

                                                <div class="row">
                                                    <div class="col-6 mr-0 pr-0">
                                                        <div class="progress decrease border-0">
                                                            <div class="progress-bar progress-success"
                                                                 id="pinch-progress-decrease" style="width: 0%"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 ml-0 pl-0 border-0">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-success"
                                                                 id="pinch-progress-increase" style="width: 0%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="float-right text-warning" id="pinch">
                                                0%
                                            </span>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                Throttle

                                                <div class="row">
                                                    <div class="col-6 mr-0 pr-0">
                                                        <div class="progress decrease border-0">
                                                            <div class="progress-bar progress-success"
                                                                 id="throttle-progress-decrease"
                                                                 style="width: 0%"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 ml-0 pl-0 border-0">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-success"
                                                                 id="throttle-progress-increase"
                                                                 style="width: 0%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="float-right text-warning" id="throttle">
                                                0%
                                            </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.footer -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.2.0
        </div>
    </footer>
    <!-- ./wrapper -->
{% endblock %}